body {
    heigh: 400px;
}

.draggable {
    border: 2px solid #000000;
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px #656565;
}

.dragged {
    box-shadow: 6px 6px 5px #656565;
	z-index: 10;
}

.closable {
    background-color: rgba(245, 134, 48, 0.45);
}

div.handler {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	font-size: 120%;
	text-align: center;
	padding: 0;
    color: #fff4d8;
	background-color: #050790;
    border-radius: 3px 3px 0px 0px;
    text-shadow: 1px 1px 0px rgba(5, 5, 5, 1);
	cursor: move;
	z-index: 1;
}

a.closeLink {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	font-size: 120%;
	text-align: center;
	padding: 0;
	background-color: #050790;
    border-radius: 0px 3px 0px 0px;
	cursor: pointer;
	z-index: 2;
}

.text-shadow {
    font-size: 20;
    color: #050766;
    text-shadow: 1px 1px 5px #525252;
}

/* button from http://css3button.net/ */
.button {
    display: block;
    width: 60px;
    margin-left: auto ;
    margin-right: auto ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ff0000 0%,
		#000000 50%,
		#474747 50%,
		#b00000);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff0000),
		color-stop(0.50, #000000),
		color-stop(0.50, #474747),
		to(#b00000));
	border-radius: 10px;
	border: 1px solid #000000;
	box-shadow:
		2px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(003,003,003,0.2);
	z-index: 200;
}

.button:active {
	box-shadow:
		0px 0px 3px rgba(63,61,99,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
}

.punched {
    text-shadow: 1px 1px 1px #ffffff;
}

.icon-small{
    width: 20px;
    padding-top: 4px;
}

.icon-small:hover {
    width: 24px;
    padding-top: 2px;
}
